# Grafana Datasource Provisioning - Prometheus
# Automatically configures Prometheus as a datasource on Grafana startup

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
      # Enable Prometheus query suggestions
      prometheusType: Prometheus
      prometheusVersion: 2.48.0
      # Exemplar configuration for trace integration
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: jaeger
    version: 1
